.courseDiv {
    padding-left:20%;
}

#allGraph {
    margin-left: 13%;
}

#courseGraph {
    margin-left: 13%;
    padding-bottom: 5%;
}

#courseListDiv {
    padding-bottom: 5%;
}

.footer {
    position: fixed;
    padding-top: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #F8F9FA;
}